<!-- Archivo EJS -->
<body>
  <div id="alertMessage" class="alert alert-danger" style="display: none">
    <!-- Aquí se mostrará el mensaje de alerta -->
    <%= alertMessage %>
  </div>

  <script>
    // Mostrar la alerta cuando hay un mensaje
    if (alertMessage) {
      document.getElementById("alertMessage").style.display = "block";
    }
  </script>
</body>
