<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login y Registro</title>
    <style>
      /* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        max-width: 400px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      h2 {
        color: #333333;
      }

      /* Estilos para los formularios */
      form {
        margin-top: 20px;
        text-align: left;
      }

      input[type="text"],
      input[type="password"],
      input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #cccccc;
        border-radius: 3px;
        font-size: 1em;
      }

      input[type="submit"] {
        background-color: #4caf50;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 3px;
        font-size: 1em;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      .switch-form {
        margin-top: 20px;
        font-size: 0.9em;
      }

      .switch-form a {
        color: #4caf50;
        text-decoration: none;
        margin-left: 5px;
      }

      #errorlogin {
        color: rgb(146, 1, 1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Bienvenido</h2>
      <!-- Formulario de login -->
      <form id="loginForm">
        <input
          id="username"
          type="text"
          name="username"
          placeholder="Usuario"
          required
        />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <input type="submit" value="Iniciar sesión" />
        <span id="errorlogin"><%= errorlogin %></span>
      </form>

      <div class="switch-form">
        <p>
          ¿No tienes cuenta? <a href="#" onclick="toggleForm()">Registrarse</a>
        </p>
      </div>

      <!-- Formulario de registro (oculto inicialmente) -->
      <form id="registerForm" style="display: none">
        <input
          type="text"
          id="usernameregister"
          name="username"
          placeholder="Usuario"
          required
        />
        <input
          id="passwordregister"
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <input type="submit" value="Registrarse" />
      </form>
    </div>

    <script>
      function toggleForm() {
        var loginForm = document.getElementById("loginForm");
        var registerForm = document.getElementById("registerForm");
        if (loginForm.style.display === "none") {
          loginForm.style.display = "block";
          registerForm.style.display = "none";
        } else {
          loginForm.style.display = "none";
          registerForm.style.display = "block";
        }
      }

      const loginForm = document.getElementById("loginForm");

      loginForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        // console.log("data:", username, password);

        fetch("/start", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        }).then((response) => {
          if (response.redirected) {
            window.location.href = response.url; // Redirige a la URL proporcionada por el servidor
          }
        });
      });

      const registerForm = document.getElementById("registerForm");
      registerForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const username = document.getElementById("usernameregister").value;
        const password = document.getElementById("passwordregister").value;

        fetch("/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        }).then((response) => {
          if (response.redirected) {
            window.location.href = response.url; // redirige a la url proporcionada por el servidor
          }
        });
      });
    </script>
  </body>
</html>
